.connect-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connect-page, .header {
    font-family: "Avenir Next";
    font-weight: 400;
    font-style: normal;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}