.button {
    margin-top: 15px;
    padding: 10px;
    width: 336px;
    background-color: white;

    border: none;
    border-radius: 30px;

    font-size: 30px;
    font-family: "Avenir Next";
    color: #f66;

    cursor: pointer;
}